@define-color foreground #EAEAEA;
@define-color background #1A1C1B;

/* Adding right border to tray expander group */
#group-tray-expander {
    border-right: 1px solid @foreground;
    padding-right: 5px;
    margin-right: 5px;
}
