@define-color foreground #EAEAEA;
@define-color background #1A1C1B;

* {
    background: transparent;
    border: none;
    border-radius: 0;
    min-height: 0;
    font-size: 12px;
    font-family: 'CaskaydiaMono Nerd Font';
}

.modules-left {
    margin-left: 12px;
}

.modules-right {
    margin-right: 6px;
}

#waybar {
    background-color: alpha(@background, 0.95);
    color: @foreground;
    border: 0px solid alpha(@foreground, 0.50);
    border-bottom-width: 2px;
}

tooltip {
    color: @foreground;
    background: alpha(@background, 0.95);
    border: 1px solid alpha(@foreground, 0.50);
    border-radius: 8px;
}

#workspaces {
    background: transparent;
    margin: 3px 0px;
    padding: 6px;
    border-radius: 26px;
}

#workspaces button {
    min-width: 8px;
    min-height: 8px;
    padding: 0;
    margin: 0 5px;
    border-radius: 50%;
    background-color: alpha(@foreground, 0.75);
    transition: all 0.15s ease-in-out;
}

#workspaces button.active,
#workspaces button:hover {
    background-color: @foreground;
    border-radius: 20px;
    min-width: 25px;
    transition: all 0.15s ease-in-out;
}
#workspaces button.empty {
    opacity: 0.45;
}

#workspaces button label {
    font-size: 0px;
}

#cpu,
#tray,
#bluetooth,
#network,
#battery,
#pulseaudio,
#custom-screenrecording-indicator,
#custom-update {
  min-width: 12px;
  margin: 0 8px;
}

#custom-update {
  font-size: 10px;
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator {
  min-width: 12px;
  margin-left: 8.75px;
  font-size: 10px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}